{% extends 'base.html' %}

{% block contend %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h1>Tasks:</h1>

  {% for task in tasks %}
  <div>
    <h2>{% if task.done == False %}⌚{% else %}✅{% endif %}{{task.title}}</h2>

    <p>{{task.description}}</p>
    <p>Project: {{task.project.name3}}</p>
    <button>
      Delete
    </button>
    <button>
      ✅ Done
    </button>
  </div>

  {% endfor %}
</body>

</html>
{% endblock %}